OPENAI_BASE_URL = "openai spec base url"
OPENAI_API_KEY = "openai spec api key"
LLM_MODEL = "llm model name"

GEMINI_API_KEY = "google api key"
GOOGLE_EMBED_MODEL = "google embedding model name"

DB_URL = "database url"
CHROMA_DIR = "chroma directory path"